services:

  db:
    image: postgres:15.2-alpine
    environment:
      POSTGRES_DB: huskydasher
      POSTGRES_PASSWORD: Megatron
    volumes:
      - huskydasher-pg-local:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  huskydasher-pg-local: